<a href="https://colab.research.google.com/github/nshaganti/nshaganti-estimating-the-profitability-of-discounts-lp/blob/main/Getting_Familiar_with_the_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
! git clone https://github.com/nshaganti/nshaganti-estimating-the-profitability-of-discounts-lp.git

Cloning into 'nshaganti-estimating-the-profitability-of-discounts-lp'...
remote: Enumerating objects: 9, done.
remote: Counting objects: 100% (9/9), done.
remote: Compressing objects: 100% (7/7), done.
remote: Total 9 (delta 0), reused 9 (delta 0), pack-reused 0 (from 0)
Receiving objects: 100% (9/9), 514.31 KiB | 4.99 MiB/s, done.

non_rand_discount.csv  README.md

In [5]:
import pandas as pd
import numpy as np

In [8]:
data = pd.read_csv("non_rand_discount.csv", delimiter=";")

In [17]:
data.shape

(15000, 45)

In [9]:
data.head()

,spend_1m_baby,spend_2m_baby,spend_3m_baby,spend_4m_baby,spend_5m_baby,spend_6m_baby,spend_1m_clothes,spend_2m_clothes,spend_3m_clothes,spend_4m_clothes,...,spend_6m_eletronic,sales,discount,profit,age,gender,cust_state,tenure,sales_prediction_bins,sales_prediction
0,0,0,0,0,0,0.0,0,0.0,0.0,0.0,...,0.0,3368.64,US$ 125.0,40.06,40,1.0,MA,6,8,1351.024765
1,0,0,0,0,0,0.0,0,0.0,0.0,0.0,...,0.0,2133.10,US$ 75.0,29.52,36,0.0,MG,10,4,1035.580387
2,0,0,0,0,0,0.0,0,0.0,0.0,0.0,...,0.0,2001.62,US$ 50.0,48.08,34,0.0,RJ,7,3,992.401825
3,0,0,0,0,0,0.0,0,0.0,0.0,0.0,...,0.0,1461.96,US$ 10.0,61.64,31,0.0,BA,7,1,919.720735
4,0,0,0,0,0,0.0,0,0.0,0.0,0.0,...,0.0,2743.72,US$ 100.0,34.44,32,1.0,PB,6,6,1176.485681

In [13]:
# understand the inferred data types
data.dtypes

spend_1m_baby              int64
spend_2m_baby              int64
spend_3m_baby              int64
spend_4m_baby              int64
spend_5m_baby              int64
spend_6m_baby            float64
spend_1m_clothes           int64
spend_2m_clothes         float64
spend_3m_clothes         float64
spend_4m_clothes         float64
spend_5m_clothes         float64
spend_6m_clothes         float64
spend_1m_health            int64
spend_2m_health            int64
spend_3m_health            int64
spend_4m_health            int64
spend_5m_health            int64
spend_6m_health            int64
spend_1m_pet               int64
spend_2m_pet               int64
spend_3m_pet               int64
spend_4m_pet               int64
spend_5m_pet               int64
spend_6m_pet               int64
spend_1m_groceries         int64
spend_2m_groceries         int64
spend_3m_groceries       float64
spend_4m_groceries       float64
spend_5m_groceries       float64
spend_6m_groceries       float64
spend_1m_eletronic         int64
spend_2m_eletronic         int64
spend_3m_eletronic         int64
spend_4m_eletronic       float64
spend_5m_eletronic       float64
spend_6m_eletronic       float64
sales                    float64
discount                  object
profit                   float64
age                        int64
gender                   float64
cust_state                object
tenure                     int64
sales_prediction_bins      int64
sales_prediction         float64
dtype: object

In [14]:
data["discount"] = (data["discount"].str.split(" ").str[-1]).astype(float)

In [15]:
# check for any missing data
data.isna().sum()

spend_1m_baby               0
spend_2m_baby               0
spend_3m_baby               0
spend_4m_baby               0
spend_5m_baby               0
spend_6m_baby               0
spend_1m_clothes            0
spend_2m_clothes            0
spend_3m_clothes            0
spend_4m_clothes            0
spend_5m_clothes            0
spend_6m_clothes            0
spend_1m_health             0
spend_2m_health             0
spend_3m_health             0
spend_4m_health             0
spend_5m_health             0
spend_6m_health             0
spend_1m_pet                0
spend_2m_pet                0
spend_3m_pet                0
spend_4m_pet                0
spend_5m_pet                0
spend_6m_pet                0
spend_1m_groceries          0
spend_2m_groceries          0
spend_3m_groceries          0
spend_4m_groceries          0
spend_5m_groceries          0
spend_6m_groceries          0
spend_1m_eletronic          0
spend_2m_eletronic          0
spend_3m_eletronic          0
spend_4m_eletronic          0
spend_5m_eletronic          0
spend_6m_eletronic          0
sales                       0
discount                    0
profit                      0
age                         0
gender                   1475
cust_state                  0
tenure                      0
sales_prediction_bins       0
sales_prediction            0
dtype: int64

In [16]:
data.head()

,spend_1m_baby,spend_2m_baby,spend_3m_baby,spend_4m_baby,spend_5m_baby,spend_6m_baby,spend_1m_clothes,spend_2m_clothes,spend_3m_clothes,spend_4m_clothes,...,spend_6m_eletronic,sales,discount,profit,age,gender,cust_state,tenure,sales_prediction_bins,sales_prediction
0,0,0,0,0,0,0.0,0,0.0,0.0,0.0,...,0.0,3368.64,125.0,40.06,40,1.0,MA,6,8,1351.024765
1,0,0,0,0,0,0.0,0,0.0,0.0,0.0,...,0.0,2133.10,75.0,29.52,36,0.0,MG,10,4,1035.580387
2,0,0,0,0,0,0.0,0,0.0,0.0,0.0,...,0.0,2001.62,50.0,48.08,34,0.0,RJ,7,3,992.401825
3,0,0,0,0,0,0.0,0,0.0,0.0,0.0,...,0.0,1461.96,10.0,61.64,31,0.0,BA,7,1,919.720735
4,0,0,0,0,0,0.0,0,0.0,0.0,0.0,...,0.0,2743.72,100.0,34.44,32,1.0,PB,6,6,1176.485681